body{
    -webkit-columns: #333;
    -moz-columns:  #333;
    -o-columns: #333 ;
    columns: #333 ;
}
*{
    -webkit-columns: #000;
    -moz-columns: ;
    -o-columns: ;
    columns: ;
    color:aqua    
}